:root {
    --underweight: orange;
    --normal: green;
    --overweight: lightcoral;
    --obese: crimson;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Jost", sans-serif;
  }
  
  body {
    background: rgb(54, 54, 54);
    display: grid;
    place-items: center;
    height: 100vh;
  }
  button{
    margin-left: 100px;
    background-color:  rgb(54, 54, 54);
  }
  
  h1 {
    text-align: center;
  }
  
  .container {
    width: 100%;
    max-width: 520px;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
    display: grid;
    gap: 1rem;
  }
  
  .calculator {
    display: grid;
    gap: 1rem;
  }
  
  .calculator div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .calculator label {
    flex: 0 1 120px;
    font-weight: 600;
  }
  
  .calculator input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    outline-color: #555;
    font-size: 1.25rem;
    text-align: center;
  }
  
  .calculator button {
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background:  rgb(54, 54, 54);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .calculator button[type="reset"] {
    background: #444;
  }
  
  .calculator button:hover {
    filter: brightness(120%);
  }
  
  .output {
    text-align: center;
    margin-left: 150px;
  }
  
  .output #bmi {
    font-size: 4rem;
  }
  
  .output #desc strong {
    text-transform: uppercase;
  }
  
  .bmi-scale {
    display: flex;
  }
  
  .bmi-scale div {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid var(--color);
    padding: 10px;
  }
  
  .bmi-scale h4 {
    font-size: 0.75rem;
    color: slategray;
  }
  
  .underweight {
    color: var(--underweight);
  }
  
  .healthy {
    color: var(--normal);
  }
  
  .overweight {
    color: var(--overweight);
  }
  
  .obese {
    color: var(--obese);
  }